/***************************************************************
 * Local stylesheet extensions
 ***************************************************************/

/* start bluehaze.css overrides */
body {
	font-size: 0.8em;
}

#bodyText {
  margin: 0mm 5mm 0 13em;
}

#bodyText p {
  padding-bottom: 0ex;
}

.sideBox {
  margin-top: 0mm;
}

.sideBox a, .sideBox a:hover, .sideBox span {
  line-height: .75em;
}
/* end bluehaze.css overrides */

.a td {
	background: #f4f4f4;
}

.b td {
	background: #e8e8e8;
}

h2 {
  font-size: 135%;
}

form th {
	text-align: right;
	vertical-align: top;
}

td.error {
	background-color: #fee;
	border: 1px solid red;
}
p.error {
	color: red;
	font-weight: bold;
}

.sideBox {
	margin-bottom: 1em;
}

.menuBar a {
	border-left: 2px solid blue;
	padding-left: 1ex;
}

.menuBar a.first {
	border-left: none;
}

.summaries {
}

.message {
}

table.permissions {
	text-align: center;
	border: 1px dashed grey;
}
table.permissions th {
	vertical-align: bottom;
	border: 1px solid grey;
}
table.permissions td {
	border: 1px solid grey;
}