/***************************************************************
 * Local stylesheet extensions
 ***************************************************************/
	/* start bluehaze.css overrides */
table {
	border-collapse: collapse;
}

body {
	font-size: 0.8em;
}

legend {
	font-size: 135%;
}

#bodyText {
	margin: 0mm 5mm 0 14em;
	text-align: left;
}

#bodyText p {
	padding-bottom: 0ex;
}

.sideBox {
	margin-top: 0mm;
	width: 12em;
}

.sideBox a,.sideBox a:hover,.sideBox span {
	line-height: .75em;
}

/* end bluehaze.css overrides */
.form-inline {
	display: inline
}

.a td,.a th {
	background: #f4f4f4;
}

.b td,.b th {
	background: #e8e8e8;
}

h2 {
	font-size: 135%;
}

form th {
	text-align: right;
	vertical-align: top;
}

td.error,th.error {
	background-color: #fee;
	border: 1px solid red;
}

div.error,p.error {
	color: red;
	font-weight: bold;
}

.sideBox {
	margin-bottom: 1em;
}

.menuBar a {
	border-left: 2px solid blue;
	padding-left: 1ex;
}

.menuBar a.first {
	border-left: none;
}

.summaries {
	
}

table.permissions {
	text-align: center;
	margin-bottom: 5px;
}

table.permissions th {
	vertical-align: bottom;
	text-align: left;
}

table.permissions th.role {
	font-weight: normal;
	padding-right: 5px;
	text-align: right;
}

table.permissions td {
	border: 1px solid grey;
}

table.filters td {
	vertical-align: top;
}

/* Message Archive Styles */
.message {
	
}

span.authorName {
	
}

div.sendTo {
	
}

.messagePart {
	font-size: larger
}

.attachments {
	
} /* End Message Archives Styles */