##
## Note to SubEtha developers:
##
## Add this to your subversion config file.  It enables the 
## autoprops that result in keyword substitution.  Otherwise
## when you add new files to the repository they will not
## receive proper keyword substitution.
##

[miscellany]
enable-auto-props = yes

[auto-props]
*.txt = svn:eol-style=native; svn:keywords="Id URL Date"
*.java = svn:eol-style=native; svn:keywords="Id URL Date"
*.xml = svn:eol-style=native; svn:keywords="Id URL Date"
*.jsp = svn:eol-style=native; svn:keywords="Id URL Date"
*.jspf = svn:eol-style=native; svn:keywords="Id URL Date"
*.tag = svn:eol-style=native; svn:keywords="Id URL Date"
*.tld = svn:eol-style=native; svn:keywords="Id URL Date"
*.html = svn:eol-style=native; svn:keywords="Id URL Date"
*.css = svn:eol-style=native; svn:keywords="Id URL Date"
*.js = svn:eol-style=native; svn:keywords="Id URL Date"
*.vm = svn:eol-style=native; svn:keywords="Id URL Date"
*.properties = svn:eol-style=native; svn:keywords="Id URL Date"
