##
## Note to SubEtha developers:
##
## Add this to your subversion config file.  It enables the 
## autoprops that result in keyword substitution.  Otherwise
## when you add new files to the repository they will not
## receive proper keyword substitution.
##

[miscellany]
enable-auto-props = yes

[auto-props]
*.txt = svn:keywords="Id URL"
*.java = svn:keywords="Id URL"
*.xml = svn:keywords="Id URL"
*.jsp = svn:keywords="Id URL"
*.jspf = svn:keywords="Id URL"
*.tag = svn:keywords="Id URL"
*.tld = svn:keywords="Id URL"
*.html = svn:keywords="Id URL"
*.css = svn:keywords="Id URL"
*.js = svn:keywords="Id URL"
*.cpp = svn:keywords="Id URL"
*.h = svn:keywords="Id URL"
*.vm = svn:keywords="Id URL"
*.properties = svn:keywords="Id URL"