<?xml version="1.0" encoding="UTF-8"?>
<persistence>
	<persistence-unit name="subetha">
		<jta-data-source>java:/SubEthaDS</jta-data-source>
		<properties>
			<property name="hibernate.hbm2ddl.auto" value="validate"/>
			<property name="hibernate.max_fetch_depth" value="0"/>
			<property name="hibernate.cache.use_query_cache" value="true"/>
		</properties>
	</persistence-unit>
</persistence>
