## Context will contain:
##   "token" of type String
##   "link" of type String
##   "email" of type String
##   "name" of type String
##
## Expects a String value "subject" to be set in the context
##
#set($subject = "Confirm subscription to ?")

TODO:  implement this template