## Context will contain:
##   "addy" of type EmailAddress
##   "list" of type MailingList
##
## Expects a String value "subject" to be set in the context
##
#set($subject = "Your password for ?")
Your password is:

$addy.person.password

$list.url

TODO:  develop this template