## Context will contain:
##   "addy" of type EmailAddress
##
## Expects a String value "subject" to be set in the context
##
#set($subject = "Your mailing list password")
Someone (hopefully you) requested the password sent for your mailing list account.  You are registered on this mailing list server with the following email addresss:

#foreach($personalAddress in $addy.person.emailAddresses)
	$personalAddress.id
#end

Your password is:

	$addy.person.password

You are subscribed to the following lists on this server:

#foreach($sub in $addy.person.subscriptions.values())
	$sub.list.email $sub.list.url
#end

#if(!$addy.person.subscriptions.empty)
Any of the above URL(s) can be used to log in.
#end