## Context will contain:
##   "addy" of type EmailAddress
##   "list" of type MailingList
##
## Expects a String value "subject" to be set in the context
##
#set($subject = "Your mail has been held for moderation")
#if($holdMsg)
Your message "<insertsubject>" has been held for moderator approval.  The reason is:

	$holdMsg
#elseif($flushable)
Your message "<insertsubject>" has been held because you do not have permission to post to the list $list.name.  You can automatically approve this message by subscribing to the list.
#else
Your message "<insertsubject>" has been held because you do not have permission to post to the list $list.name.
#end

