## Context will contain:
##   "list" of type MailingList (the list which got the msg)
##   "mail" of type Mail (the stored mail)
##   "holdMsg" of type String (only if mail was a HARD hold)
##   "moderator" of type EmailAddress (the address of the moderator receiving this msg)
##
## Expects a String value "subject" to be set in the context
##
#set($subject = "Mail to list ${list.name} requires approval")
An email to list ${list.name} requires your approval.

Subject:  ${mail.subject}

#if($holdMsg)
The reason:  ${holdMsg}
#end

To approve or discard the message, visit:

	${list.urlBase}held_msgs.jsp?listId=${list.id}
