## Context will contain:
##   "addy" of type EmailAddress
##   "list" of type MailingList
##
## Expects a String value "subject" to be set in the context
##
#set($subject = "Your new mailing list $list.name")
Welcome to your new mailing list "$list.name".  The email address for this list is:

	$list.email

To administer this list, visit the main list URL and log in:

	$list.url

You are registered on this mailing list server with the following email addresss:

#foreach($personalAddress in $addy.person.emailAddresses)
	$personalAddress.id
#end

Your password is:

	$addy.person.password