## Context will contain:
##   "sub" of type Subscription
##   "moderator" of type EmailAddress
##   "unsub" of type boolean is true if this was an unsubscribe
##
## Expects a String value "subject" to be set in the context
##
#if($sub.person.name)
	#set($who = $sub.person.name)
#else
	#set($who = "Someone")
#end
#if($unsub)
	#set($action = "unsubscribed")
	#set($tofrom = "from")
#else
	#set($action = "subscribed")
	#set($tofrom = "to")
#end
#set($subject = "$who $action to $sub.list.name")
${who} $action ${tofrom} ${sub.list.name}.

This person has the following email address(es):

#foreach($personalAddress in $sub.person.emailAddresses)
	$personalAddress.id
#end

The URL for this list is:

	${sub.list.url}
