## Context will contain:
##   "token" of type String
##   "email" of type String
##   "list" of type MailingList
##
## Expects a String value "subject" to be set in the context
##
#set($subject = "Confirm subscription to $list.name")
Someone (hopefully you) requested to subscribe $email to the mailing list
'$list.name' located at $list.url

To confirm, you must either click on the following link:

${list.urlBase}subscribe_confirm_submit.jsp?token=$token

*OR*

Copy and paste the following confirmation code into the appropriate field on 
the confirmation page:

$token

If you did not make this request, you can ignore this message and the
confirmation code will self-destruct in 24 hours.

#if ($list.welcomeMessage)
--------------------------------------------------------------------------
$list.welcomeMessage
#end